<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Studio</title>

  <script src="//unpkg.com/alpinejs" defer></script>

  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @!include('partials/header')

  <main class="max-w-screen-xl mx-auto px-3">
    @!section('content')
  </main>

  @!section('scripts')
</body>
</html>